body {
    background-color: gold;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.time {
    font-weight: bold;
    font-size: 50px;
    text-decoration: underline;
    text-decoration-style: double;
}
