
#clickBtn {
    padding: 40px 30px;
    background: tomato;
    border: 2px solid tomato;
    color: gold;
    font-weight: bold;
    font-size: 20px;
    left: 100px;
    top: 100px;
    position: absolute;
    transition: width 1s, height 1s;
}