body {padding-top: 50px;}
.container {width: 300px; height: 200px; border: 1px solid #ccc; margin: 0 auto; padding: 25px;}
.wrap {display: flex; justify-content: space-between; align-items: center; padding-bottom: 20px;}
.wrap > input {width: 200px;}
.btn_wrap {display: flex; justify-content: center;}
.btn_wrap > button {width: 290px;}