body {
    background-color: #0A174E;
}

ul li {
    list-style: none;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bday {
    font-size: 30px;
    font-weight: bold;
    color: #F5D042;
}

.img {
    width: 100px;
}

#myBday {
    color: #DAA03D;
    font-size: 50px;
}

#click, #reset {
    padding: 10px;
    margin: 20px;
    background-color: #F5D042;
    color: #0A174E;
    font-weight: bold;
    font-size: 20px;
}

.recorder {
    width: 300px;
    height: 100px;
    max-height: 100px;
    overflow: scroll;
    color: #DAA03D;
}

